<?xml version="1.0" encoding="utf-8"?>

<Server port="{{ atl_tomcat_mgmt_port | default('8000') }}"
        shutdown="SHUTDOWN">

  <Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
  <Listener className="org.apache.catalina.core.AprLifecycleListener"
            SSLEngine="on"/>
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>

  <Service name="Catalina">

    <Connector port="{{ atl_tomcat_port | default('8090') }}"
               maxThreads="{{ atl_tomcat_maxthreads | default('100') }}"
               minSpareThreads="{{ atl_tomcat_minsparethreads | default('10') }}"
               connectionTimeout="{{ atl_tomcat_connectiontimeout | default('20000') }}"
               enableLookups="{{ atl_tomcat_enablelookups | default('false') }}"
               protocol="{{ atl_tomcat_protocol | default('HTTP/1.1') }}"
               redirectPort="{{ atl_tomcat_redirectport | default('8443') }}"
               acceptCount="{{ atl_tomcat_acceptcount | default('10') }}"
               secure="true"
               scheme="https"
               proxyName="confluence.internallab.co.uk"
               proxyPort="443"

               relaxedPathChars="[]|"
               relaxedQueryChars="[]|{}^\`&quot;&lt;&gt;"
               bindOnInit="false"
               maxHttpHeaderSize="8192"
               useBodyEncodingForURI="true"
               disableUploadTimeout="true" />

    <Engine name="Standalone"
            defaultHost="localhost"
            debug="0">
      <Host name="localhost"
            debug="0"
            appBase="webapps"
            unpackWARs="true"
            autoDeploy="false"
            startStopThreads="4">
        <Context path="{{ atl_tomcat_contextpath | default(catalina_context_path) | default('') }}"
                 docBase="../confluence"
                 debug="0"
                 reloadable="false"
                 useHttpOnly="true">
          <!-- Logging configuration for Confluence is specified in confluence/WEB-INF/classes/log4j.properties -->
          <Manager pathname=""/>
          <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve"
                 threshold="60"/>
        </Context>

        <Context path="${confluence.context.path}/synchrony-proxy"
                 docBase="../synchrony-proxy"
                 debug="0"
                 reloadable="false"
                 useHttpOnly="true">
          <Valve className="org.apache.catalina.valves.StuckThreadDetectionValve"
                 threshold="60"/>
        </Context>

      </Host>
    </Engine>

  </Service>

</Server>

